<br />
<br />
<h1>A Little Bit About Me</h1>
<hr />

<br />
<h3>Personality</h3>
<br />

<h4>MBTI</h4>
<p>My MBTI is "ENFJ" which indicates that I tend to have extroverted, intuitive, feeling, and judging personality traits. According to <a href="https://www.16personalities.com/enfj-personality"><em>16personalities.com,</em></a> "these warm, forthright types love helping others, and they tend to have strong ideas and values. They back their perspective with the creative energy to achieve their goals."</p>
<br />

<h4>Zodiac Sign</h4>
<p>My Zodiac sign is "Virgo" which is one of the earth signs. Earth signs tend to be practical, goal-oriented, and grounded. Below are some commonplace traits of Virgos.</p>
<img class="w-50 h-auto rounded mx-auto d-block"
     src="~/images/zodiac.jpg" />
<p><em>Source:</em><a href="https://www.astrology-zodiac-signs.com/zodiac-signs/virgo/"<em> astrology-zodiac-signs.com</em></a></p>
<br />

<h4>Big 5 Personality Test</h4>
<p>The Big 5 personality test is more useful in organizational instances when compared to personality overviews such as the MBTI test and astrology, therefore I've included my results below.</p>
<img class="w-50 h-auto rounded mx-auto d-block"
     src="~/images/big5.png" />
<br />

<h3>Other</h3>
<br />
<h4>Cuisine</h4>
<p>I am simply not a picky eater and really love trying new things. I will say that I especially enjoy Asian and Italian foods. I also have a place in my heart for the classics: McDonald's, Chick-Fil-A, Canes, Whataburger, you get the point. I usually prefer savory foods over sweets, but definetly have a hard time parting with dessert after dinner.</p>
<br />
<h4>Routine</h4>
<p>I am someone who favors routine and maintains a pretty strict bedtime of approximately 10:00PM. You can imagine how interesting it is to be a college student with that sleep routine, but it does mean I prefer to chat during the regular working hours of around nine to five rather than later on in the night.</p>
<br />
