
@{
    ViewData["Title"] = "Index";
}
<br />

<h1 class="text-center">Meghna Kundur</h1>
<br />

<h4 class="text-center">Class of 2023 | MIS Major | Dallas, TX</h4>
<div class="align-self-sm-center">
    <br />

    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/squareheadshot.jpg" alt="Subject Meghna Kundur smiling, posing in front of greenery" title="Subject Meghna Kundur Smiling, Greenery Backdrop" />
</div>
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary">About</a>
        <a asp-action="Professional" class="btn btn-primary">Professional</a>
        <a asp-action="Resume" class="btn btn-primary">Resume</a>
    </div>
</div>
<br />
<hr class="hr-danger" />

<h3>Fall 2022 Course Schedule</h3>

    <tr class="table-primary">
       <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Course Code</th>
      <th scope="col">Course Title</th>
      <th scope="col">Professor</th>
      <th scope="col">Date and Time</th>
    </tr>
  </thead>
    </tr>
    <tr>
        <td>MAN 336</td>
        <td>Organizational Behavior</td>
        <td>Tom Rauzi</td>
        <td>MW 9:30-11:00</td>
    </tr>
    <tr>
        <td>EDP 352K</td>
        <td>Mindfulness, Compassion, and the Self</td>
        <td>Marissa Knox</td>
        <td>MW 2:00-3:30</td>
    </tr>
    <tr>
        <td>MKT 337</td>
        <td>Principles of Marketing</td>
        <td>Herb Miller</td>
        <td>TTH 9:30-11:00</td>
    </tr>
    <tr>
        <td>MIS 333K</td>
        <td>Web Application Development</td>
        <td>Katie Gray</td>
        <td>TTH 11:00-12:30</td>
    </tr>
    <tr>
        <td>FIN 357</td>
        <td>Business Finance</td>
        <td>Claudia Esquivel</td>
        <td>TTH 2:00-3:30</td>
    </tr>
</table>
<hr class="hr-danger" />
<br />
<p><em>If you're a fellow longhorn taking any of the above classes, feel free to reach out using the contact information below, I would be happy to chat about course topics and potentially create study groups!</em></p>
<br />

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Contact Information</h4>
    <p class="card-text">Email address: <a href="mailto:meghna.kundur@utexas.edu?subject=Let's Chat!">
    meghna.kundur@utexas.edu
    LinkedIn: <a href="https://linkedin.com/in/meghna-kundur">meghna-kundur</a>
</p>
  </div>
</div>

<br />
<hr class="hr-danger" />
<h3 class="text-center">TED Talk</h3>
<br />
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="mb-0">These students are learning through exploration. There is confirmation their unique voice matters. These students have the freedom to create a world, with their imaginations, that's actually grounded in academic rigor. <em>This is educating...versus schooling</em>.</p>

    </blockquote>
    <figcaption class="blockquote-footer">
        Trish Millines Dziko <cite title="How schools can nurture every student's genius">How schools can nurture every student's genius</cite>
    </figcaption>
</figure>
<br />
<p>Having conducted research and written a research paper on Project Based Learning, I find myself greatly valuing the words of Trish Millines Dziko as she describes an incredible project curated by 5th graders and the importance of fostering skills that will be used for a lifetime. I find that many of the ideas within Project Based Learning can be implemented by students even in classrooms where standardized testing is relevant and enjoy doing my part in curating such an experience for myself and others where applicable.</p>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div style="max-width:854px">
                <div style="max-width:854px">
                    <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/trish_millines_dziko_how_schools_can_nurture_every_student_s_genius" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<br />
<hr class="hr-danger" />
<br />
<br />
<br />