<br />
<br />
<h1>Professional Background</h1>
<hr />

<h3>Future Ambitions</h3>
<br />
<h4>Why MSBA?</h4>
<p>MSBA stands for the Master of Science in Business Analytics and focuses on using statistical analysis and data mining tools to mitigate business management problems. The curriculum also introduces concepts surrounding AI and Machine Learning which aren't as prevalant in my MIS coursework. Through prelimnary data science courses in my undergrad, I've learned that my career interest lies in combining what I believe to be the "science of business," statistics and data science, with technology. In this way I hope to take my MIS technical foundation and expand upon it in a more statisical centered curriculum with my MSBA degree and am grateful to be able to do that here at McCombs.</p>
<br />

<h3>On-Campus Involvement</h3>
<br />
<h4>Texas Lassos</h4>
<p>I joined the Texas Lassos spirit group during the fall of my second year. My second semester with Texas Lassos I was proud to serve on our Exec board as Secretary. Currently I am a Co-Service Chair alongside one of my close friends from high school. As Secretary last semester I took meeting minutes, sent out weekly newslaters to our general member population of approximately 150 students, organized our master calendar, and orchestrated a "revamp" of our website which is still being utilized today. As a Service chair I work with my partner to find various opportunities in the Austin area that allow for our members to serve their community. These events include park clean ups, feeding the homeless, and volunteering at local festivals.</p>
<p>Fun Fact: My co-chair and I used to be on drill (dance) team together and during our final year we both held leadership positions as she was our team captain and I was the head manager.</p>
<br />

